AZURE_TENANT_ID="283c7359-8291-42fe-ace3-507da2b4e714"
AZURE_SUBSCRIPTION_NAME="Multi-Cloud Compliance Lab"
AZURE_RESOURCE_GROUP="rg-mc-compliance-lab-eastus"
AZURE_LOCATION="eastus"

AWS_PROFILE="codex-admin"
AWS_REGION="us-east-1"
